<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.yann.mapper.HrMapper">
    <resultMap id="HrMapResult" type="com.soft.yann.bean.Hr">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="roleHrMapResult" type="com.soft.yann.bean.Hr" extends="HrMapResult">
        <collection property="roles" ofType="com.soft.yann.bean.Role" select="com.soft.yann.mapper.HrMapper.queryRolesByHrId"
                    column="id"></collection>
    </resultMap>

    <select id="queryRolesByHrId" resultType="com.soft.yann.bean.Role">
        SELECT r.id, r.name, r.nameZh FROM hr_role h,role r where h.rid=r.id AND h.hrid=#{id}
    </select>
    
    <select id="queryHrById" resultMap="roleHrMapResult">
        select h.id, h.phone, h.telephone, h.address, h.enabled, h.username,
        h.password, h.userface, h.remark
        from hr h
        where h.id = #{id};
    </select>
</mapper>